.mainmenu-wrapper {
	margin-top: 50px;
}

.mainmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 400px;
	margin: 0 auto;

	&__item {
		display: block;
		height: 50px;
		line-height: 50px;
		margin-bottom: 15px;
		vertical-align: middle;
		text-decoration: none;
		font-size: 25px;
		background-color: #CCCCCC;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background-color: $orange-color;
			cursor: pointer;
		}

		a {
			display: block;
			text-decoration: none;
			color: black;
		}
	}
}