.score-sender-dimmer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.7;
}

.score-content-wrapper {
	height: 220px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
}

.finish-message {
    font-size: 100px;
    color: white;
    position: absolute;
    top: -150px;

    left: 10%;
}

@import "_oneFieldInput";


.score-content {
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;

	&__score-value {
		font-size: 60px;
		margin-bottom: 20px;

		&__value {
			padding-left: 25px;
			padding-right: 25px;
			border-bottom: solid 1px black;
		}
	}
}

.loading-indicator {
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: -4px;

	background-image: url("/res/img/loader.gif");
	background-repeat: no-repeat;
	opacity: 0.4;
}

.scores-wrapper__loading-indicator {
	position: static;
	margin: 0 auto;
}

.sending-score__error {
	display: none;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 24px;
}
