/********** scoreboard **********/

.scores-wrapper {
  margin-bottom: 15px;
  overflow: visible;
}

.scores {
  width: 90%;
  margin: 0 auto;

  border-collapse: collapse;
  font-size: 18px;

  &__header, &__col {
    border: 1px solid #618597;
    border-left-width: 0;

    &:last-child {
      width: 25%;
      border-right-width: 0;
    }
  }

  &__header {
    font-size: 20px;
    font-weight: bolder;
    background-color: #D4DCE0;
  }

  &__row:hover {
    background-color: #F6F9FC;
  }
}

.error_message {
  font-size: 18px;
  color: darkred;
  margin-bottom: 10px;
}