.score-sender-dimmer {
	height: 1000px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.7;
}

.score-content-wrapper {
	height: 220px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
}

.score-content {
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;

	&__score-value {
		font-size: 60px;
		margin-bottom: 20px;

		&__value {
			padding-left: 25px;
			padding-right: 25px;
			border-bottom: solid 1px black;
		}
	}

	&__username-field {
		width: 350px;
		height: 45px;
		padding-left: 5px;

		border-style: solid;
		border-width: 1px;
		border-right-width: 0px;
		border-color: $background-color;
		border-radius: 5px 0 0 5px;

		font-family: $font;
		font-size: 35px;
	}

	&__sendScore-button {
		width: 70px;
		height: 49px;
		vertical-align: top;

		font-family: $font;
		font-size: 20px;
		color: black;

		background-color: $orange-color;


		border-color: black;
		border-width: 1px;
		-webkit-border-radius: 0 5px 5px 0;
	    -moz-border-radius: 0 5px 5px 0;
	    border-radius: 0 5px 5px 0;

	    -webkit-transition: All 0.2s ease;
		-moz-transition: All 0.2s ease;
		-o-transition: All 0.2s ease;
		-ms-transition: All 0.2s ease;
		transition: All 0.2s ease;

	    cursor: pointer;

	    &:hover {
			background-color: #F7AF28;
		}

		&:disabled:hover {
			cursor: wait;
			background-color: #FDC66A;
		}
	}
}

.loading-indicator {
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: -4px;

	background-image: url("/res/img/loader.gif");
	background-repeat: no-repeat;
	opacity: 0.4;
}

.scores-wrapper__loading-indicator {
	position: static;
	margin: 0 auto;
}

.sending-score__error {
	display: none;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 24px;
}
