@font-face {
  font-family: 'macondoregular';
  src: url("macondoregular/acondo-regular-webfont.eot");
  src: url("macondoregular/macondo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("macondoregular/macondo-regular-webfont.woff") format("woff"), url("macondoregular/macondo-regular-webfont.ttf") format("truetype"), url("macondoregular/macondo-regular-webfont.svg#macondoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  background-color: #5c5c5c;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.pages {
  background-color: #5c5c5c;
  width: 100%;
  height: 100%; }
  .pages .page {
    display: none; }

/********** content **********/
.content-wrapper {
  width: 500px;
  height: 600px;
  display: block;
  margin: 20px auto 0 auto;
  background-color: white;
  position: relative;
  text-align: center;
  font-family: "macondoregular", cursive; }

.content {
  width: 450px;
  padding: 10px;
  margin: 0 auto; }
  .content__h1 {
    display: block;
    margin: 20px 0 0 0;
    padding: 5px 0;
    background-color: #253858;
    color: #F5F5F5;
    font-size: 50px; }
  .content__h2 {
    margin: 40px 0 0 0;
    font-size: 45px; }

.page-footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 14px;
  text-align: right;
  text-decoration: none; }

.social-buttons {
  float: left;
  margin: 0 0 0 10px; }

.social-button {
  display: inline-block;
  width: 70px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 0;
  font-size: 12px;
  background-color: #5B6D8C;
  color: white;
  text-align: center; }
  .social-button:last-child {
    margin-right: 0; }
  .social-button a {
    display: block;
    text-decoration: none;
    color: white; }
  .social-button:hover {
    background-color: #002366; }

.github-wrapper {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px; }

.github {
  color: #3E69B4;
  text-decoration: none; }
  .github:hover {
    color: #F7AF28;
    text-decoration: underline; }

.mainmenu-wrapper {
  margin-top: 50px; }

.mainmenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 400px;
  margin: 0 auto; }
  .mainmenu__item {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 25px;
    background-color: #CCCCCC; }
    .mainmenu__item:last-child {
      margin-bottom: 0; }
    .mainmenu__item:hover {
      background-color: #f7af28;
      cursor: pointer; }
    .mainmenu__item a {
      display: block;
      text-decoration: none;
      color: black; }

.back-button {
  display: block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  padding: 0 5px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: #CCCCCC; }
  .back-button:hover {
    background-color: #f7af28;
    cursor: pointer; }
  .back-button__caption {
    display: inline-block; }
  .back-button_cornered {
    position: absolute;
    top: 5px;
    left: 5px; }

.left-arrow-wrapper {
  display: inline-block;
  margin-right: 3px;
  margin-top: -3px;
  margin-left: -6px; }

.left-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent; }

.scores-wrapper {
  margin-bottom: 15px;
  overflow: visible; }

.scores {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 18px; }
  .scores__header, .scores__col {
    border: solid;
    border-width: 1px 1px 1px 0;
    border-color: #618597; }
    .scores__header:last-child, .scores__col:last-child {
      width: 25%;
      border-right-width: 0; }
  .scores__header {
    font-size: 20px;
    font-weight: bolder;
    background-color: #D4DCE0; }
  .scores__row:hover {
    background-color: #F6F9FC; }

.error_message {
  font-size: 18px;
  color: darkred;
  margin-bottom: 10px; }

.score-sender-dimmer {
  height: 1000px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7; }

.score-content-wrapper {
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px; }

.score-content {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative; }
  .score-content__score-value {
    font-size: 60px;
    margin-bottom: 20px; }
    .score-content__score-value__value {
      padding-left: 25px;
      padding-right: 25px;
      border-bottom: solid 1px black; }
  .score-content__username-field {
    width: 350px;
    height: 45px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    border-color: #5c5c5c;
    border-radius: 5px 0 0 5px;
    font-family: "macondoregular", cursive;
    font-size: 35px; }
  .score-content__sendScore-button {
    width: 70px;
    height: 49px;
    vertical-align: top;
    font-family: "macondoregular", cursive;
    font-size: 20px;
    color: black;
    background-color: #f7af28;
    border-color: black;
    border-width: 1px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
    cursor: pointer; }
    .score-content__sendScore-button:hover {
      background-color: #F7AF28; }
    .score-content__sendScore-button:disabled:hover {
      cursor: wait;
      background-color: #FDC66A; }

.loading-indicator {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: -4px;
  background-image: url("/res/img/loader.gif");
  background-repeat: no-repeat;
  opacity: 0.4; }

.scores-wrapper__loading-indicator {
  position: static;
  margin: 0 auto; }

.sending-score__error {
  display: none;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 24px; }

.game-wrapper {
  margin-top: 0; }

.game {
  margin: 0;
  padding: 0; }

.editor-scene {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%; }

.editor-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 99%;
  background-color: white; }
  .editor-sidebar__group {
    padding: 0px 10px 0px 10px;
    border-style: inset; }
    .editor-sidebar__group__header {
      margin: 5px 0px 5px 0px; }
    .editor-sidebar__group__controls {
      float: right; }
  .editor-sidebar__object {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden; }
  .editor-sidebar__palette {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }

.type-specific-props {
  display: none; }

select {
  width: 100%; }
