@import "macondoregular/macondo-font";

$background-color: #5C5C5C;
$content-wrapper-width: 500px;
$content-wrapper-height: 600px;
$content-width: 450px;
$orange-color: #F7AF28;
$font: 'macondoregular', cursive;

html, body {
	margin: 0;
	padding: 0;
	background-color: $background-color;

	-webkit-touch-callout: none;
	-webkit-user-select: none;	
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.pages {
	background-color: $background-color;
	width: 100%;
	height: 100%;

	.page {
		display: none;
	}
}

/********** content **********/

.content-wrapper {
	width: $content-wrapper-width;
	height: $content-wrapper-height;
	display: block;
	margin: 20px auto 0 auto;
	background-color: white;
	position: relative;

	text-align: center;
	font-family: $font;
}

.content {
	width: $content-width;

	padding: 10px;
	margin: 0 auto;

	&__h1 {
		display: block;
		margin: 20px 0 0 0;
		padding: 5px 0;
		background-color: #253858;
		color: #F5F5F5;
		font-size: 50px;
	}

	&__h2 {
		margin: 40px 0 0 0;
		font-size: 45px;
	}
}

.page-footer {
	width: 100%;
	position: absolute;
	bottom: 10px;
	right: 0;

	font-size: 14px;
	text-align: right;
	
	text-decoration: none;
}

.social-buttons {
	float: left;
	margin: 0 0 0 10px;
}

.social-button {
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-right: 10px;
	padding: 0;

	font-size: 12px;
	background-color: #5B6D8C;
	color: white;

	text-align: center;

	&:last-child {
		margin-right: 0;
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
	}

	&:hover {
		background-color: #002366;
	}
}


.github-wrapper {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
}

.github {
	color: #3E69B4;
	text-decoration: none;

	&:hover {
		color: #F7AF28;
		text-decoration: underline;
	}
}


@import "_mainmenu";
@import "_backbutton";
@import "_scoreboard";
@import "_scoreSender";
@import "_game";
@import "_editor";