@import "../min/macondoregular/macondo-font";

$background-color: #5C5C5C;
$orange-color: #F7AF28;
$font: 'macondoregular', cursive;

$circle-size: 200px;
$inner-circle-size: 80px;

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: white;
}

//body { min-height:540px; }
//body[orient="portrait"] { min-height:540px; }
//body[orient="landscape"] { min-height:400px; }

canvas {

}

$input-width: 300px;
$button-width: 70px;
@import "../_oneFieldInput";

.inputs {
  width: $input-width + $button-width + 10px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

$dimmer-opacity: 1.0;
@import "../_message";