@font-face {
    font-family: 'macondoregular';
    src: url('macondoregular/acondo-regular-webfont.eot');
    src: url('macondoregular/macondo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('macondoregular/macondo-regular-webfont.woff') format('woff'),
         url('macondoregular/macondo-regular-webfont.ttf') format('truetype'),
         url('macondoregular/macondo-regular-webfont.svg#macondoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}